@use 'general' as *;

.projects {

  &__filters{
    margin-bottom: $space-xs;
    @media (min-width: $bp-lp) {
      margin-bottom: 4.706rem;
    }
  }
  &__filtre {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-beige;
    margin-right: $space-xs;
    cursor: pointer;
    transition: background-color $transition, border-color $transition;
     @media (max-width: $bp-lp) {
       margin-bottom: 1.5rem;
     }

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
    }

    &--active {
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  &__grid2 {
    display: flex;
    flex-direction: column;
    gap: $space-md;

    @media (min-width: $bp-lp) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $space-md;
      align-items: end;
    }
  }

  &__card2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: $bp-lp) {
      &:nth-child(1) .project-card__thumb,
      &:nth-child(3) .project-card__thumb {
        aspect-ratio: 1/1;
      }

      &:nth-child(2) .project-card__thumb {
        aspect-ratio: 4/5;
      }
    }
  }
}